header.main {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  opacity: 0.75;
  background-image: url("/images/black-linen.png");
  padding: 340px;
}
