span {
  font-family: Bungee, sans-serif;  
}

/* the nav section contains the top navigation bar */
nav {
  display: flex;
  flex-flow: row nowrap;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0em 1.5em 1.5em;
  justify-content: space-between;
  align-items: flex-end;  
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
}

/* name of app */
.nav-span1 {
  display: flex;  
  flex-direction: column;
}

/* write a new tweet */
.nav-span2 {
  display: flex;  
  flex-direction: column;
  align-items: center;
  font-size: medium;
}

/* animated arrow */
.nav-span2-arrow {
  color: red;
  animation-name            : displaceContent;
  animation-duration        : 1.5s;
 /* animation-delay           : 1s;*/
  animation-iteration-count : infinite;
  animation-fill-mode       : forwards;
}

@keyframes displaceContent {
  from { transform : translateY(0em) }
  to   { transform : translateY(0.5em) } /* slide down to make room for advertisements */
}