 /* Tablets: Default CSS settings */
span {
  font-family: 'Bungee', cursive, sans-serif;  
}

/* the nav section contains the top navigation bar */
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 90px;
  opacity: 0.9;
  background-color: #EC9706;
  background-image: url("/images/asfalt-light.png");
  color: #FFFFFF;
  padding: 0.5rem 1.5rem 0.6rem 1.5rem; 
}

/* App name section of the nav */
nav .nav-col1 {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.75rem;
}

/* write a new tweet section of the nav */
nav .nav-col2 {
  display: flex;  
  flex-direction: column;
  justify-content: center; 
  align-content: flex-end;
  font-size: 1.5rem; 
}

nav .nav-col2-text span {
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: 300;
}

nav .nav-col2-text .heavy {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
 }

/* animated arrow */
nav .nav-col2-arrow {
  align-self: center;
  color: red;
  animation-name            : displaceContent;
  animation-duration        : 1.5s;
  animation-iteration-count : infinite;
  animation-fill-mode       : forwards;
}

@keyframes displaceContent {
  from { transform : translateY(0em) }
  to   { transform : translateY(0.5em) } /* slide down to make room for advertisements */
}


 /* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  nav {       
    background-color: #4056A1;
    opacity: 1;
    background-image: none;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
  }
}

 /* Mobile: maximum width of 420px */
@media only screen and (max-width: 420px) {
  /* Set all sections to 410px in length - smaller is not readable*/ 
  nav {
    min-width: 410px;
    position: relative;
  }
}