 /* Tablets: Default CSS settings */

/* new tweet section split between header and footer */

#tweet-text {
  width: 100%;
  outline: 0;
  border-width: 0 0 2px;   
  margin-top: 10px; 
  margin-bottom: 10px;
}

/* styles for header section */
.new-tweet-form header {
  display: flex;
  flex-flow: column wrap;
  width: 100%;  
  margin-top: 30px;
  font-size: 1.3rem;
  font-weight: 600;
}

/* styles for footer sections */
.new-tweet-form footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; 
  width: 100%;  
}

.new-tweet-form footer .tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: Bungee, sans-serif;   
  border-radius: 8px;
}
.counter {
  vertical-align: bottom;  
  margin-top: 10px;
}

.red {
  color: red;
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  #tweet-text {
    width: 100%;
  }
  
  /* styles for header section */
  .new-tweet-form header {
    width: 95%;    
  }

  /* styles for footer sections */
  .new-tweet-form footer {
    width: 95%; 
   }  
  }

 /* Mobile: maximum width of 420px - this is where the app starts looking rough */
 @media only screen and (max-width: 420px) {
   /* Set all sections to 410px in length - smaller is not readable*/ 
  #tweet-text {
    position: relative;
    min-width: 410px;
  }  
  /* styles for header section */
  .new-tweet-form header {   
    position: relative; 
    min-width: 410px;  
  }
  /* styles for footer sections */
  .new-tweet-form footer {
    position: relative;
    min-width: 410px; 
   }  
}